# IDE and Editor Configuration
.idea/*
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml
.vscode/
*.iml

# Build and Gradle
.gradle/
.gradle-local/
**/build/
!src/**/build/
**/bin/

# Kotlin
.kotlin/

# macOS
.DS_Store
xcuserdata/
DerivedData/

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspace/xcuserdata/

# Native Build
.externalNativeBuild
.cxx

# Swift Package Manager
.swiftpm/

# Security and Credentials
.env
.secret/
*.jks
*.keystore

# Package Managers
yarn.lock

# Database
*.db

# Android
captures
local.properties
