*.iml
.kotlin/
.gradle/
**/build/
!src/**/build/
xcuserdata/
local.properties
.idea/
!.idea/runConfigurations/
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.env
*.jks
*.keystore
*.xcworkspace/xcuserdata/
DerivedData/
.swiftpm/
*.db
/.vscode/
/.secret/
yarn.lock